.dropdown .dropdown-toggle-button {
    all: unset;
    user-select: none;
    cursor: pointer;
    padding: 10px 14px;
    color: #339933;
    border: 1px solid #339933;
    border-radius: 5px;
    margin-bottom: 10px;
}
