.dropdown-tab {
    position: absolute;
    border: 1px solid #F8F8F8;
    border-radius: 5px;
    box-shadow: 0 15px 30px 1px rgba(148, 148, 148, 0.4);
    min-width: 340px;
}

.dropdown-menu {
    padding: 15px 0;
    display: flex;
    flex-direction: column;
}

.dropdown-menu-list {
    all: unset;
    list-style: none;
}

.dropdown-menu-list .dropdown-menu-item {
    display: flex;
    padding: 5px 9px;
    margin: 0 9px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.dropdown-menu-list .dropdown-menu-item:hover {
    transition: color, background-color 50ms ease-in;
    background-color: #99CC98;
    color: white;
    font-weight: 600;
}

.dropdown-menu-list .dropdown-menu-item:active {
    transition: color, background-color 50ms ease-in;
    background-color: #339933;
    color: white;
    font-weight: 600;
}

.dropdown-menu-item.pr-active {
    background-color: #D4D4D4;
    color: white;
    font-weight: 600;
}


.dropdown-menu-list .dropdown-menu-item .dropdown-menu-item-text {
    margin-left: 10px;
}

/* icon */
.dropdown-menu-list .dropdown-menu-item > :first-child {
    box-shadow: 0 3px 6px 1px rgba(148, 148, 148, 0.3);
    border-radius: 5px;
    height: 1rem;
    width: 1rem;
}

.dropdown-menu-list .dropdown-menu-item:hover > :first-child {
    box-shadow: none;
}

.dropdown-menu-item.pr-active > :first-child {
    box-shadow: none;
}