.tabs-titles {
    border-style: solid;
    border-color: #DFDFDF;
    border-width: 0 0 1px 0;
}

.tab-title {
    all: unset;
    cursor: pointer;
    padding: 10px 0;
    margin: 0 18px;
}

.tab-title:hover {
    color: #4EA64C;
}
