body {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    line-height: 16px;
}

#container {
    display: flex;
    justify-content: center;
}

#dropdown {
    width: 350px;
    color: #9FA2B4;
    order: 1;
}

#tags {
    width: 300px;
    order: 2;
}

.custom-tag {
    margin: 0 10px 10px 0;
}
